<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="./img/developer.png" type="image/x-icon" size="32x32">
  <link rel="manifest" href="/manifest.json">

  <!-- reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js"></script>


  <!-- Netlify Identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <meta name="google-site-verification" content="UhwWcRVM_ifrmLviOr7ocVbMYYk_FB0ldxDtHT8kNqs" />
    
  <title>Jonathan Edwards Tech</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  {# Font Awesome icons (free version) #}
  <script src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous'></script>

  <!-- Custom fonts for this template -->
  {# <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> #}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="dist/css/agency.min.css" rel="stylesheet">
  <link href="dist/css/styles.css" rel="stylesheet">
  <link href="dist/css/agency.css" rel="stylesheet">

  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }
    
    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width textarea */
    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 200px;
    }
    
    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/send button */
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    </style>


  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</head>

<body id="page-top">
    {% include 'navigation.njk' %}
    {% include 'header.njk' %}
    
    {{ content | safe }}

    {% include 'footer.njk' %}
</body>
</html>
