<!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Junior Ethical Hacker / Web Developer</div>
        <br>
        <span class="intro-text text-uppercase">Metasploit | Hashcat | Malduino/Ducky Script | OSINT</span>
        <br>
        <br>
        <span class="intro-text text-uppercase">HTML/CSS | Bootstrap | JavaScript | React </span>
        <br>
        <span class="intro-text text-uppercase">React Native | NodeJS | Ruby | Ruby on Rails</span>
        <br>
        <br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">A little of what I do</a>
      </div>
    </div>
  </header>