// Modal 3
#portfolioModal3.projects-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              // Project Details Go Here
              h2.text-uppercase Address Book
              p.item-intro.text-muted
                | An address book written in JavaScript using browser local storage for storing contacts and cucumber for testing.
              img.img-fluid.d-block.mx-auto(src='dist/assets/img/projects/addressBook.jpg' alt='')
              p
                | This was the first time I pair programmed with someone.  It was an interesting project because we got to understand each others strengths and weeknesses. We worked with that knowledge and taught each other a lot.
              ul.list-inline
                li Date: November 2018
                li Category: JavaScript/Pair Programming
              a(href='https://gergkllai1.github.io/Adress_book/')
                button.btn.btn-primary(type='button')
                  | Address Book
