// Modal 5
#portfolioModal5.projects-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              // Project Details Go Here
              h2.text-uppercase The Sunrise Press
              p.item-intro.text-muted
                | This is a news website built on the Ruby on Rails framework. It allows visitors to view both inhouse and sourced news articles.
              img.img-fluid.d-block.mx-auto(src='dist/assets/img/projects/sunrisePress.jpg' alt='')
              p
                | On this project we learned all about API&apos;s, login and logout, subscriptions, Stripe,  so on and so forth.  This was a huge feet for us considering we&apos;d only been doing this for three months.
              ul.list-inline
                li Date: January 2018
                li Category: Ruby on Rails/ Rspec/ Cucumber/ API&apos;s
              a(href='https://the-sunrise-press.herokuapp.com/')
                button.btn.btn-primary(type='button')
                  | The Sunrise Press
