// Modal 6
#portfolioModal6.projects-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              // Project Details Go Here
              h2.text-uppercase carDND
              p.item-intro.text-muted
                | A car sharing service prototype created using Ruby on Rails as full stack framework, cucumber/rspec for testing and tailwind for styling.
              img.img-fluid.d-block.mx-auto(src='dist/assets/img/projects/carDnd.jpg' alt='')
              p
              ul.list-inline
                li Date: December 2018
                li Category: Ruby on Rails/ Cucumber/ rspec
              a(href='https://cardreamndrive.herokuapp.com/')
                button.btn.btn-primary(type='button')
                  | carDND
